.Article_container-nuxtlink{
    text-decoration: none;

    .Article_container-div{
        padding: 1rem;
        border: 1px dotted #ccc;
        /* margin: 1rem 0; */
        background: white;

        img{
            width: 90px;
        }

    }

    .Main--Article_container-div{
        padding: 1rem;
        border: 1px dotted #ccc;
        height: 20rem;
        /* margin: 1rem 0; */
        background: white;
        display: grid;
        grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

        img{
            width: 300px;
            grid-column: 3;
            grid-row: 1;
            justify-self: center;
        }

        .Article_source-p{
            grid-column: 5;
            background-color: black;
            justify-self: end;
            align-self: start;
            font-family: 'Franklin Gothic Medium';
            color: white;
            font-size: larger;

        }

        .Article_title-h2{
            grid-row: 2;
            grid-column: 1/ 4;
        }

        .Article_description-p{
            grid-column:1 /span end ;
            grid-row: 3;
        }
    }

}
