.Article_container-nuxtlink{

    .Article_container-div{
        padding: 1rem;
        border: 1px dotted #ccc;
        /* margin: 1rem 0; */
        background: white;

        img{
            width: 90px;
        }
    }

    .Main--Article_container-div{
        color: green;
        padding: 1rem;
        border: 1px dotted #ccc;
        /* margin: 1rem 0; */
        background: white;

        img{
            width: 90px;
        }
    }

}
