.MainArticle_container-div{
    background-color: gray;
    display: grid;
    // grid-template-columns:  null;
        // setting happens in-line by state ~location: MainArticles
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-rows: 3rem auto;


    .MainArticle_header-h2{
        color: white;
        grid-column: 1 / -1;
        padding-left: 2rem;
    }

}
